@import 'bootstrap/dist/css/bootstrap.min.css';

.header {
  padding: 10px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 900px) {
      width: 100% !important;
    }

  }
  .home_item {
    font-size: 14px;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;

    i {
      color: rgba(87, 46, 46, 0.5);
    }
  }

  ul {
    li {
      &:hover {
        .des_item {
          top: 90px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .des_item {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    /* padding: 20px 30px 20px 0; */
    transition: 0.7s all;
    border-radius: 7px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    padding: 20px 0;
    gap: 20px;
    opacity: 0;
    top: 130px;
    z-index: 1000;

    li {
      a {
        font-size: 14px;
        padding: 7px 30px;
        transition: 0s all;
        color: #cea563;

        &:hover {
          color: #a27d65;
        }
      }
    }
  }

  .drop {
    &:hover {
      .des_title {
        visibility: visible;
        opacity: 1;
        left: 150px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  i {
    color: gray;
    margin-left: 10px;
    cursor: pointer;
  }

  .des_title {
    visibility: hidden;
    opacity: 0;

    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    margin-top: 70px;
    border-radius: 7px;
    background: #fff;
    position: absolute;
    width: 250px;
    transition: 0.7s;
    left: 150px;

    li {
      a {
        font-size: 14px;
        padding: 10px 20px;
        transition: 0s all;
        color: #000;
      }
    }
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .head_left {
      display: flex;
      align-items: center;

      .head_img {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }

    .head_right {
      display: flex;
      align-items: center;
      gap: 20px;

      .menu_tab {
        i {
          display: none;
          font-size: 30px;
          color: gray;

          @media (max-width: 780px) {
            display: block;
          }
        }


      }

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 780px) {
          display: none;
        }

        li {
          padding: 0 20px;


          a {
            text-decoration: none;
            color: gray;
            font-size: 20px;

            &:hover {
              color: #333;
            }
          }
        }
      }

      p {
        background-color: #ff6615;
        color: white;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          background-color: #e5560d;
        }
      }

      .languageSelect {
        appearance: none;
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        color: gray;
        transition: border-color 0.3s ease;
        width: 120px;

        &:hover {
          border-color: #aaa;
        }

        &:focus {
          outline: none;
        }

        option {
          background-color: white;
          color: black;
          padding: 12px;
          border-bottom: 1px solid #ccc;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }

  .input {
    visibility: hidden;
  }

  .label {
    position: relative;
    width: 80px;
    height: 40px;
    background: lightgray;
    border-radius: 20px;

    .circle {
      width: 34px;
      background: white;
      height: 34px;
      border-radius: 50%;
      top: 3px;
      position: absolute;
      left: 3px;
      animation: toggleOff 0.4s ease forwards;
      cursor: pointer;
    }
  }

  .input:checked+.label {
    background-color: lightgray;
  }

  .input:checked+.label .circle {
    animation: toggleOn 0.4s ease forwards;
    background-color: black;
    cursor: pointer;
  }

  @keyframes toggleOn {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(40px);
    }
  }

  @keyframes toggleOff {
    0% {
      transform: translate(40px);
    }

    100% {
      transform: translate(0);
    }
  }
}